<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .bd-example>.btn {
            margin: 0.25rem 0.125rem
        }

        .btn {
            background-color: #fd7e14;
            color: black;
        }

        body {
            background-image: url("bg.png");
        }

        .container {
            background-color: whitesmoke;
            height: 1000px;
        }

    </style>
</head>

<body>

<div class="container">
    <img
            th:src="@{/images/image2.png}" style="width:100%; height: 300px; margin-top: 10px;">
   <!-- <img src="image2.png" style="width:100%; height: 300px; margin-top: 10px;" />-->
    <hr>
    <center>
        <h2>Step 1: Select your Kill Team</h2>
    </center>
    <hr>

    <div class="bd-example">
        <h4>Space Marines Kill Teams</h4>
        <button type="button" class="btn btn-secondary bs-orange btn">Space Marines</button>
        <button type="button" class="btn btn-secondary btn">Grey Knights</button>
    </div>
    <br/>
    <div class="bd-example">
        <h4>Imperium Kill Teams</h4>
        <button type="button" class="btn btn-secondary btn">Imperial Guard</button>
        <button type="button" class="btn btn-secondary btn">Forge World</button>
        <button type="button" class="btn btn-secondary btn">Ecclesiarchy</button>
        <button type="button" class="btn btn-secondary btn">Talons of the Emperor</button>
    </div><br/>
    <div class="bd-example">
        <h4>Chaos Kill Teams</h4>
        <button type="button" class="btn btn-secondary btn">Traite Space Marine</button>
        <button type="button" class="btn btn-secondary btn">Death Guard</button>
        <button type="button" class="btn btn-secondary btn">Thousand Sons</button>
        <button type="button" class="btn btn-secondary btn">Chaos Daemons</button>
    </div><br/>
    <div class="bd-example">
        <h4>Xenos Kill Teams</h4>
        <button type="button" class="btn btn-secondary btn">Craftworld</button>
        <button type="button" class="btn btn-secondary btn">Commorite</button>
        <button type="button" class="btn btn-secondary btn">Troupe</button>
        <button type="button" class="btn btn-secondary btn">Greenskin</button>
        <button type="button" class="btn btn-secondary btn">Tomb World</button>
        <button type="button" class="btn btn-secondary btn">Hunter Cadre</button>
        <button type="button" class="btn btn-secondary btn">Hive Fleet</button>
        <button type="button" class="btn btn-secondary btn">Brood Coven</button>
    </div>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>

</html>
